#main{
    background-color: rgba(0, 0, 0, 0.537);
    width: 60vh;
    height: 30vh;
    margin-left: 25vh;
    border-radius: 10px;
}
#tittle{
    text-align: start;
    margin-left: 20px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

#linha{
    width: 90%;
}
#paragrafo{
    margin-top: 8px;
    text-align: start;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
}
#main{
    padding: 20px;
    margin-top:200px ;

}

#Button{
    background-color: #830909;
    border: none;
    border-radius: 10%;
    color: #fff;
    padding: 15px 32px;
    margin-top: 20px;
    cursor: pointer;
}

#Button:hover{
    background-color:chartreuse;
    color: black;
    transition: 0.5s;
}