.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.395); /* Preto com 50% de opacidade */
  color: black;
}

.logo h1 a {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #830909;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  margin-right: 200px;
  padding: 0;
}

.nav ul li {
  position: relative;
}

.nav ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #830909;
}

.nav ul li a {
  color: #830909;
  text-decoration: none;
  font-size: 18px;
}

.nav ul li a:hover {
  color: chartreuse;
}
/* Media Queries para responsividade */
@media (max-width: 768px) {
  @media (max-width: 768px) {
    .header {
        flex-direction:row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .nav ul {
        flex-direction: row;
        margin-top: 15px;
        gap: 10px;
        margin-right: 0;
    }

    .nav ul li {
        position: relative;
    }

    .nav ul li::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #830909;
    }

    .nav ul li a {
        color: #830909;
        text-decoration: none;
        font-size: 18px;
    }

    .nav ul li a:hover {
        color: chartreuse;
    }
}
  .logo h1 a {
      font-size: 25px;
  }

}

@media (max-width: 480px) {
  .header {
      padding: 10px;
  }

  .logo h1 a {
      font-size: 18px;
  }

  .nav ul {
      gap: 5px;
  }

  .nav ul li a {
      font-size: 14px;
  }
}
