* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  background-image: url(./img/BelieveArq_50.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.737);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

/* Telas grandes */
@media (min-width: 1200px) {
  body {
    background-size: cover;
  }
}

/* Telas médias */
@media (min-width: 768px) and (max-width: 1199px) {
  body {
    background-size: 100% 100vh;
  }
}

/* Telas pequenas */
@media (min-width: 480px) and (max-width: 767px) {
  body {
    background-size: 100% 100vh;
  }
}

/* Telas muito pequenas */
@media (max-width: 479px) {
  body {
    background-size: cover;
  }
}
